body {
    font-family: 'Roboto' , sans-serif;
    background-color: rgb(31, 31, 31);
}

.dashboard {
    background-color: rgb(10, 10, 10);
    border: 0px;
    width: 350px;
    height: 450px;
    border-radius: 15px;
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
.tituloFondo {
    position: absolute;
    top: 9.4%;
    left: 30.5%;
    height: 70px;
    width: 600px;
    background-color:rgb(10, 10, 10);
    border-radius: 15px;
    z-index: 0px;
}

.botonEncriptar {
    position: absolute;
    background-color: rgb(60, 60, 60);
    color: rgb(190, 190, 190);
    border-radius: 5px;
    border: 0px;
    scale: 1.5;
    font-family: 'Roboto', sans-serif;  
    top: 95.5%;
    left: 82.5%;
    transform: translate(-30%, -50%);
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
}

.botonDesencriptar {
    position: absolute;
    background-color: rgb(60, 60, 60);
    color: rgb(190, 190, 190);
    border-radius: 5px;
    border: 0px;
    scale: 1.5;
    font-family: 'Roboto', sans-serif;  
    top: 95.5%;
    left: 20%;
    transform: translate(-30%, -50%);
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
}

.botonDesencriptar:hover {
    background-color: #000;           
    cursor: pointer;      
}

.botonEncriptar:hover {
    background-color: #000;           
    cursor: pointer;      
}

#onlyRead {
    position: relative;
    top: 2.6%;
    left: 3%;
    border-radius: 5px;
    background-color:rgb(60, 60, 60);
    color: rgb(202, 202, 202);
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    height: 258px;
    width: 318px;
    box-shadow: 0 0 0 1px #999;
    resize: none;
    overflow-y: hidden;
    padding-left: 5px;
    padding-right: 5px;
    pointer-events: none;
}

.textfield {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    color: rgb(202, 202, 202);
    top: 68%;
    left: 18.5%;
    background-color:rgb(10, 10, 10);
    border: 1px rgb(86, 86, 86);
    border-radius: 5px;
    scale: 1.5;
    width: 210px;
    height: 70px;
    box-shadow: 0 0 0 1px #999;
    resize: none;
    overflow-y: hidden;
    padding-left: 5px;
    padding-right: 5px;
}

.candado-cerrado {
    position: absolute;
    scale: 0.1;
    top: -25%;
    left: 16%;
    z-index: 5;
}

.candado-abierto {
    position: absolute;
    scale: 0.11;
    top: -22%;
    left: 50%;
    opacity: 1;
    z-index: 6;
}

.titulo {
    position: absolute;
    top: 58px;
    left: 40%;
    scale: 1.4;
    font-family: 'Roboto', sans-serif;
    z-index: 6;
    color:rgb(202, 202, 202);
}

.rodapie {
    position: absolute;
    color: #999;
    top: 90%;
    left: 40.5%;
}





