body {
    font-family: 'Roboto' , sans-serif;
    background-color: rgb(31, 31, 31);
}

.dashboard {
    background-color: rgb(10, 10, 10);
    border: 0px;
    width: 350px;
    height: 350px;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  

.botonEncriptar {
    position: absolute;
    background-color: rgb(60, 60, 60);
    color: rgb(190, 190, 190);
    border-radius: 5px;
    border: 0px;
    scale: 1.5;
    font-family: 'Roboto', sans-serif;  
    top: 94%;
    left: 82.5%;
    transform: translate(-30%, -50%);
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
}

.botonDesencriptar {
    position: absolute;
    background-color: rgb(60, 60, 60);
    color: rgb(190, 190, 190);
    border-radius: 5px;
    border: 0px;
    scale: 1.5;
    font-family: 'Roboto', sans-serif;  
    top: 94%;
    left: 20%;
    transform: translate(-30%, -50%);
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
}

.botonDesencriptar:hover {
    background-color: #000;           
    cursor: pointer;      
}

.botonEncriptar:hover {
    background-color: #000;           
    cursor: pointer;      
}

.textfield {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    color: rgb(202, 202, 202);
    top: 76%;
    left: 18.5%;
    background-color:rgb(10, 10, 10);
    border: 1px rgb(86, 86, 86);
    border-radius: 5px;
    scale: 1.5;
    width: 210px;
    box-shadow: 0 0 0 1px #999;
    resize: none;
    overflow-y: hidden;
    padding-left: 5px;
    padding-right: 5px;
}

.candado-cerrado {
    position: absolute;
    scale: 0.1;
    top: -25%;
    left: 16%;

}

.candado-abierto {
    position: absolute;
    scale: 0.11;
    top: -22%;
    left: 50%;
    opacity: 0.6;
}

.titulo {
    position: absolute;
    top: 60px;
    left: 40%;
    scale: 1.4;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}





